.rate {
  display: inline-block;
  padding: 5px;
  background: #fff;
  border: 1px solid #ddd;
  width: 120px;
}

.rate:hover {
  color: #fff;
  border-color: #50acc4;
  cursor: pointer;
}

.rate--sell {
  color: red;
  padding-right: 30px;
}

.rate--sell:hover {
  background-color: #fc0d1b;
}

.rate--buy {
  color: green;
  padding-left: 30px;
  text-align: right;
}

.rate--buy:hover {
  background-color: #81cf47;
}

.rate-desc {
  font-size: 0.5em;
}
