.pair {
  display: inline-block;
  border: 1px solid #ddd;
}

.pair-header {
  padding: 3px;
  text-align: center;
  color: #fff;
  background: #888;
}

.pair-rates {
  padding-top: 5px;
  padding-bottom: 20px;
}

.pair-rates .rate {
  margin: 0 5px;
}
